//META{"name":"Victor-Theme","description":"Discord theme","author":"VictorOhashi","version":"1.0.0"}*//{}

@import url("https://victorohashi.github.io/Discord-Themes/main.css");

:root {
  --avatar-size: 55px;
  --main-color: #414D73;
  --secondary-color: #2e4da2;
  --terciary-color: #4570e6;
  --spotify-color: #000000;
  --channel-selector: linear-gradient(50deg, rgba(67, 79, 121, 0.8) 0%, rgba(45, 43, 54, 1) 90%);
  --user-card-background-image: url('https://i.imgur.com/CEIRHlH.png');
  --background-image: linear-gradient(75deg,
      rgba(0, 0, 0, 0.8) 0%, rgba(82, 82, 82, 0.15) 70%), url('https://i.imgur.com/VNmtmqd.jpg');
  --background-spotify-image: linear-gradient(360deg, rgba(0, 60, 0, 0.9) 0%, rgba(82, 82, 82, 0.15) 100%), url('https://cdn.discordapp.com/attachments/598308629891907626/656248558441201704/Type2.png');
  --gradient-shine: linear-gradient(to right,
      transparent 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%);
}

@keyframes user-card-slide {
  0% {
    background-position: bottom left;
  }

  25% {
    background-position: top;
  }

  50% {
    background-position: bottom right;
  }

  100% {
    background-position: bottom;
  }
}

@keyframes shine {
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }

  80% {
    opacity: 0;
  }

  100% {

    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}